.navbar-brand{
    color: #ffffff;
    font-weight: 400;
}
.full-image{
    background-image: url("assets/img/queen.png");
    background-size: cover;
}
.full-color{
    background-color: #ffffff;
}
.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 60%;
}

.card-title{
    /* font-weight: bold; */
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.sign-link{
    font-weight:400;
}
