<div class="signup-page">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 full-image back-img">
      <a class="navbar-brand mt-4 ml-4" [routerLink]="['/']">Eloquent Data</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 full-colour">
      <div class="mobile-logo">
        <a class="navbar-brand mt-4 ml-4" [routerLink]="['/']">Eloquent Data</a>
      </div>
      <div class="signup-container">
        <div class="signup-form">
          <form id="SignUpValidation">
            <h2 class="card-title mt-4">Create an account</h2>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="firstname" class="bmd-label-floating"> First Name *</label>
                  <input type="text" class="form-control" id="firstname" required="true" name="firstname">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="lastname" class="bmd-label-floating"> Last Name *</label>
                  <input type="text" class="form-control" id="lastname" required="true" name="lastname">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Select Gender</label>
                  <select class="selectpicker form-control" title="Single Select">
                    <option selected disabled> Gender </option>
                    <option value="m"> Male </option>
                    <option value="f"> Female </option>
                    <option value="o"> Others </option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Choose country</label>
                  <select class="form-control">
                    <option selected disabled> Country </option>
                    <option value="uganda"> Uganda </option>
                    <option value="nigeria"> Nigeria </option>
                    <option value="kenya"> Kenya </option>
                    <option value="ghana"> Ghana </option>
                  </select>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="email" class="bmd-label-floating"> Email *</label>
                  <input type="email" class="form-control" id="email" required="true" name="emailaddress">
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="form-group">
                  <label for="examplePassword" class="bmd-label-floating"> Password *</label>
                  <input type="password" class="form-control" id="examplePassword" required="true" name="password">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="form-group">
                  <label for="examplePassword2" class="bmd-label-floating">Confirm Password *</label>
                  <input type="password" class="form-control" id="examplePassword2" required="true" name="password2">
                </div>
              </div>
            </div>

            <div class="form-check mt-4">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" value=""> I agree to the&nbsp;
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label> <a [routerLink]="['/login']" routerLinkActive="router-link-active" ><u>Term of Service</u></a>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4" [routerLink]="['/']">Create an account</button>

            <div class="mt-4">Have an existing account? <a class="sign-link" [routerLink]="['/login']">Log in</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>