<div class="signup-page">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form id="RegisterValidation">
                <div class="card card-login card-hidden card-login">
                    <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">Create an Account</h4>
                    </div>
                <div class="card-body ">
                    <div class="form-group">
                    <label for="exampleEmail" class="bmd-label-floating"> Email Address *</label>
                    <input type="email" class="form-control" id="exampleEmail" required="true">
                    </div>
                    <div class="form-group">
                    <label for="examplePassword" class="bmd-label-floating"> Password *</label>
                    <input type="password" class="form-control" id="examplePassword" required="true" name="password">
                    </div>
                    <div class="form-group">
                    <label for="examplePassword1" class="bmd-label-floating"> Confirm Password *</label>
                    <input type="password" class="form-control" id="examplePassword1" required="true" equalTo="#examplePassword" name="password_confirmation">
                    </div>
                </div>
                <div class="card-footer ml-auto mr-auto">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>