<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">rule_folder</i>
                        </div>
                        <p class="card-category">Completed</p>
                        <h3 class="card-title">5</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="javascript:void(0)">Total Projects</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Assessment</p>
                        <h3 class="card-title">127</h3>
                        
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                              <a href="javascript:void(0)">Assessment score</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Resources</h4>
                        <p class="card-category"> A guide to achieving your goal</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Category
                                    </th>
                                    <th class="td-actions text-right">
                                        View
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Introduction to Data
                                        </td>
                                        <td>
                                            8/1/2021
                                        </td>
                                        <td>
                                            Data Analysis
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="View Resource" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Data Analysis Fundamental
                                        </td>
                                        <td>
                                            8/1/2021
                                        </td>
                                        <td>
                                            Data Analysis
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="View Resource" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Getting Stated with Statistic
                                        </td>
                                        <td>
                                            8/1/2021
                                        </td>
                                        <td>
                                            Statistics
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="View Resource" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Machine Learning Basics
                                        </td>
                                        <td>
                                            8/1/2021
                                        </td>
                                        <td>
                                            Machine Learning
                                        </td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" matTooltip="View Resource" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  